<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧画面</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<nav class="nav">
		<a href="/items">全商品</a>		
		<a href="/items?categoryId=1"style="margin-right: 5px;">本</a>
		<a href="/items?categoryId=2"style="margin-right: 5px;">DVD</a>
		<a href="/items?categoryId=3"style="margin-right: 5px;">ゲーム</a>
		<a href="/cart" style="padding-left: 10px;">カートを見る</a>
	</nav>
	<main>
		<span th:text="${message}" style="color: red"></span><br>
		<table border="1">
			<tr>
				<th>NO</th>
				<th>商品名</th>
				<th>値段</th>
				<th> </th>
			</tr>
			<tr th:each="item:${items}">
				<td th:text="${item.id}"></td>	
				<td th:text="${item.name}"></td>
				<td th:text="${item.price} + 円"></td>
				<td>
					<form action="/cart/add" method="post">
						<input type="hidden" name="itemId" th:value="${item.id}">
						<button>カートに追加</button>
					</form>
				</td>
			</tr>
		</table>
	</main>
</body>
</html>